<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

    <h1>Sistem Informasi Manajemen Magang</h1>

    <a href="/user/">User</a><br><br>

    <a href="/siswa/">Siswa</a><br><br>

    <a href="/guru/">Guru</a><br><br>

    <a href="/admin-data/">Admin</a><br><br>

    <a href="/supervisor/">Supervisor</a><br><br>

    <a href="/perusahaan/">Perusahaan</a><br><br>

    <a href="/lowongan/">Lowongan</a><br><br>

    <a href="/lamaran/">Lamaran</a><br><br>

    <a href="/magang/">Magang</a><br><br>

    <a href="/jurnal/">Jurnal</a><br><br>

    <a href="/laporan/">Laporan</a><br><br>

    <a href="/nilai/">Nilai</a><br><br>

    <a href="/notifikasi/">Notifikasi</a>

</body>
</html>